<org.geoserver.security.config.BasicAuthenticationFilterConfig>
  <id>-591b7937:13cb4532991:-7ffb</id>
  <name>basic</name>
  <className>org.geoserver.security.filter.GeoServerBasicAuthenticationFilter</className>
  <useRememberMe>true</useRememberMe>
</org.geoserver.security.config.BasicAuthenticationFilterConfig>