<org.geoserver.security.config.ExceptionTranslationFilterConfig>
  <id>-591b7937:13cb4532991:-7ff1</id>
  <name>guiException</name>
  <className>org.geoserver.security.filter.GeoServerExceptionTranslationFilter</className>
  <authenticationFilterName>form</authenticationFilterName>
  <accessDeniedErrorPage>/accessDenied.jsp</accessDeniedErrorPage>
</org.geoserver.security.config.ExceptionTranslationFilterConfig>