<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%msg %n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${BASEDIR}/logs/logFile.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${BASEDIR}/logs/logFile.%d{yyyy-MM-dd}.log
			</fileNamePattern>

			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d %-4relative [%thread] %-5level %logger - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<logger name="it.geosolutions" level="${project-level:-INFO}">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<root level="DEBUG">
		<appender-ref ref="FILE" />
	</root>

</configuration>